{% extends 'base.html.twig' %}

{% block title %}Payment failed{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Payment failed for invoice {{ invoice_id }}! ✅</h1>
</div>
{% endblock %}
